Package: {{ .Package }}
Version: {{ .Version }}
Installed-Size: {{ .InstalledSize }}
Architecture: {{ .Architecture }}
Maintainer: {{ .Maintainer }}
{{ if .Depends -}}
Depends: {{ .Depends }}
{{ end -}}
{{ if .PreDepends -}}
Pre-Depends: {{ .PreDepends }}
{{ end -}}
{{ if .Homepage -}}
Homepage: {{ .Homepage }}
{{ end -}}
{{ if .Section -}}
Section: {{ .Section }}
{{ end -}}
{{ if .Priority -}}
Priority: {{ .Priority }}
{{ end -}}
{{ if .Description -}}
Description: {{ .Description }}
{{ end -}}
{{ if .Conflicts -}}
Conflicts: {{ .Conflicts }}
{{ end -}}