name: test tag

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          mkdir -p .debpkg/usr/bin
          echo -e "echo hello" > .debpkg/usr/bin/testbin
          chmod +x .debpkg/usr/bin/testbin

      - name: Set output
        id: vars
        run: echo ::set-output name=tag::${GITHUB_REF:10}

      - run: echo ${{ steps.vars.outputs.tag }}

      - uses: ./
        with:
          package: testbin
          package_root: .debpkg
          maintainer: jiro4989
          version: ${{ steps.vars.outputs.tag }}
          arch: 'amd64'
          desc: 'test package'
      - run: sudo dpkg -i *.deb
      - run: which testbin
      - run: testbin
